<div class="d-flex flex-column justify-content-center mt-5">
  <div class="card mb-3">
    <div class="card-header text-success">Notification</div>

      <div class="card-body">
        <h5 class="card-title text-center">Bienvenido</h5>
        <p class="card-text" style="text-align: justify;">
          En este apartado encontrará información relevante sobre su actividad en la aplicación.
        </p>


        <button class="btn btn-primary" (click)="initNotification()">Init</button>
        <button class="btn btn-primary ms-4" (click)="initNotification()">End</button>

      </div>

  </div>
</div>
