<div class="d-flex justify-content-center mt-5">
  <div class="card">
    <div class="card-header">Notification</div>

      <div class="card-body bg-info-subtle">
        <h5 class="card-title text-center">Bienvenido</h5>
        <p class="card-text" style="text-align: justify;">
          En este apartado encontrará información relevante sobre su actividad en la aplicación.
        </p>
      </div>

  </div>
</div>

    <!-- <ul class="list-group list-group-flush"> -->
    <!--   <li class="list-group-item ms-3">An item</li> -->
    <!--   <li class="list-group-item ms-3">A second item</li> -->
    <!--   <li class="list-group-item ms-3">A third item</li> -->
    <!-- </ul> -->

